# Python cache files
__pycache__/
*.py[cod]

# Environment files
*.env

# Virtual environment folders
venv/
env/

# IDE/Editor junk
.vscode/
.idea/

# Mac/Linux/Windows trash
.DS_Store
Thumbs.db
desktop.ini

# Logs or temp
*.log
*.tmp
